name: Deploy Staging

on:
  push:
    branches: [ "staging" ]
  pull_request:
    branches: [ "staging" ]

jobs:
  deploy:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12]
    steps:
    - uses: actions/checkout@v4

    # Add execute permission
    - name: Make deploy script executable
      run: chmod +x .scripts/deploy_staging.sh

    - name: Deploy to server with Python ${{ matrix.python-version }}
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_STAGING_HOST }}
        username: ${{ secrets.SSH_STAGING_USER }}
        key: ${{ secrets.SSH_STAGING_KEY }}
        script: "cd /home/ubuntu/classmate-api && ./.scripts/deploy_staging.sh ${{ matrix.python-version }}"
